$n700-01: (
  font-size: 24px,
  font-weight: 700,
  line-height: 26px,
  letter-spacing: 0px,
);


$n700-02: (
  font-size: 18px,
  font-weight: 700,
  line-height: 26px,
  letter-spacing: 0px,
);

$n700-03: (
  font-size: 12px,
  font-weight: 700,
  line-height: 16.37px,
  letter-spacing: 0px,
);
