$n600-01: (
  font-size: 16px,
  font-weight: 600,
  line-height: 18px,
  letter-spacing: 0px,
);


$n600-02: (
  font-size: 16px,
  font-weight: 600,
  line-height: 26px,
  letter-spacing: 2px,
  text-transform: uppercase
);

$n600-03: (
  font-size: 18px,
  font-weight: 600,
  line-height: 26px,
  letter-spacing: 0px,
);
